[package]
name = "ekubo_sdk"
version = "0.0.0"
authors = ["Mahmoud Salem <moody@ekubo.org>"]
edition = "2021"
license = "LGPL-2.1"
description = "Types for interacting with Ekubo Protocol on Starknet & EVM chains"
homepage = "https://ekubo.org"
repository = "https://github.com/EkuboProtocol/rust-sdk"
readme = "README.md"
keywords = ["crypto", "math", "ekubo", "protocol", "defi"]

[dependencies]
num-traits = "0.2.19"
ruint = "1.17.0"
serde = { version = "1.0", features = ["derive"], optional = true }
derive_more = { version = "2.0.1", features = ["add", "add_assign", "from"] }

[features]
serde = ["dep:serde"]
starknet = []
evm = []
